{% extends 'base.html' %}

{% block title %} Visor {% endblock %}

{% block header %}
<script src="/static/js/lib/hydra-synth.js"></script>
<script src="/static/js/lib/p5.js"></script>
<script src="/static/js/transicion.js"></script>
<script src="/static/js/utiles-visor.js"></script>
{% endblock %}

{% block content %}
<canvas id="vcanvas" class="prop-adaptable"></canvas>

<div id="vcode">
    <pre id="vcodehl" aria-hidden="true">
        <code id="vcodehl-content" class="language-js"></code>
    </pre>
</div>
{% endblock %}

{% block footer %}
<script src="/static/js/init-visor.js" defer></script>
<script src="/static/js/hydra-parche-canvas_to_image.js" defer></script>
{% endblock %}
